.footer__list {
  display: inline-block;
}
.footer__contacts {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  text-decoration: none;
  color: var(--main-color);
  opacity: 60%;
  &:hover {
    color: var(--blue-color);
  }
}
.footer__list li:first-child {
  margin-bottom: 9px;
}
.footer__list li:last-child {
  margin-bottom: 60px;
}
.footer__address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  text-decoration: none;
  color: var(--main-color);
  margin-top: 20px;
  margin-bottom: 9px;
}

.footer__input {
  margin-top: 18px;
  padding: 16px 15px;
  display: flex;
  width: 100%;
  height: 18px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: var(--main-color);
  outline: 0;
}

.footer__form {
  margin-top: 30px;
}
.footer__label {
  position: relative;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--main-color);
  height: fit-content;
}
.footer__icon-send {
  fill: var(--main-color);
  position: relative;
  top: 5px;
  right: 60px;
}
.footer__button {
  // align-items: center;
  padding-left: 42px;
  text-align: left;
  cursor: pointer;
  color: var(--main-color);
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 60px;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  background-color: var(--blue-color);
}
@media screen and (min-width: 1200px) {
  footer .container div {
    text-align: left;
  }
  .footer__form {
    text-align: left;
    margin: 0;
    justify-content: space-between;
    // margin-left: 78px;
  }
  .footer__button {
    margin-left: 12px;
  }
  .footer-input__wrapper {
    display: flex;
  }
  .footer__input {
    width: 358px;
  }
  .footer__icon-send {
    fill: var(--main-color);
    position: relative;
    top: 35px;
    right: 60px;
  }
}
