.main__header {
  font-size: 26px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  display: block;
  color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.secondary__header {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .main__header {
    font-size: 44px;
  }
  .secondary__header {
    font-size: 36px;
    margin-bottom: 50px;
  }
}
